.card {
    width: 385px;
    margin: 20px 30px 20px 30px;
    padding: 10px;
    border:none;
    background-color: transparent;
    /* width: 50%;
    margin: 30px 40px 30px 40px;
    padding: 10px;
    border:none;
    display: flex;
    align-items: flex-start; */
}

.img_1 {
    max-width: 100%;
    height:300px;
    object-fit: cover;
    border-radius: 10%;
}

.cardinfo{
    display: inline-flex;
    flex-direction: column;
    margin-left: 5px;
}
.author {
    font-size: 14px;
}
.title{
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: #627D78;
    font-weight: bolder;
    margin-top: 20px;
    cursor: pointer;
}

.post_date{
    font-family: 'Poiret One', cursive;
    font-size: 12px;
    color: #627D78;
}

.content2{
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    line-height: 26px;
    margin:5px;
}

.card_btn{
    width:40%;
    background-color: #679985;
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    cursor: pointer;
}

.single{
    text-decoration: none;
    color: white;
    font-family: 'Italiana', serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: center; 
}