.form_control {
    margin: 15px;
    height: 300px;
    padding: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/maldives.jpg');
    background-size: cover;
    box-shadow: 20px 20px 50px grey;
}

.form_info {
    font-family: 'Poiret One', cursive;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    margin:10px 80px 10px 80px;
    padding: 50px 150px 50px 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.6);
}


.logInTitle{
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 80px;
    text-shadow: 5px 5px 10px rgb(148, 194, 221);
    font-family: 'Merienda', cursive;
    text-align: center;

}

.btn-primary {
    font-size: 18px;
    font-weight: bold;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    .form_control {
        height: auto;
        padding: 52px;
    }

    .form_info {
        margin: 50px;
        padding: 100px;
    }

    .logInTitle {
        font-size: 50px;
    }
}

@media only screen and (max-width: 480px) {
    .form_control {
        margin: 5px;
    }

    .form_info {
        margin: 20px;
        padding: 50px;
    }

    .logInTitle {
        font-size: 30px;
    }
}