.bg-myColor {
    position: relativefixed;
    border-bottom: 1px solid black;

}

.navbar-brand{
    font-size: 25px;
    font-family: 'Cinzel Decorative', cursive;
    /* font-weight: bold; */
    color: rgb(39, 39, 39);
    text-shadow: 5px 5px 5px rgb(142, 155, 147);
}

.links {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: bolder;
    color: #000;
    text-shadow: 0.5px 0.5px rgb(251, 248, 248);
    gap: 15px;
    margin-left: 5%;
    cursor: pointer;
}

/* .links:hover{
   


} */

