.bg-myColor {
    position: relativefixed;
    border-bottom: 1px solid black;
}

.navbar-brand{
    font-size: 32px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 600;
    color: rgb(39, 39, 39);
    text-shadow: 5px 5px 5px rgb(142, 155, 147);
}
.user_name {
    font-size: 25px;
    color: rgba(36, 116, 36, 0.384);
}
.links {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    text-shadow: 0.5px 0.5px rgb(251, 248, 248);
    gap: 15px;
    margin-left: 5%;
    cursor: pointer;
}

.log_out {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-weight: bolder;

}

