.bg-myColor {
    position: relative;
    /* background-color: rgb(12, 7, 1); */
    /* border-bottom: 2px solid black; */
}
.logo {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    margin:0;
;
}

.navbar-brand{
    font-size: 25px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    color: rgb(39, 39, 39);
    text-shadow: 2.5px 2.5px white;
    /* margin-left: 35px; */
}

.links {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: bolder;
    color: #000;
    text-shadow: 0.5px 0.5px rgb(251, 248, 248);
    gap: 35px;
    margin-left: 5%;
    cursor: pointer;
}

/* .links:hover{
   


} */

