.App {
  text-align: center;
}

footer {
  background-color: #b5b6a9;
  color:white;
  padding: 25px 0;
  text-align: center;
  font-family: 'Elsie', cursive
} 

a {
  text-decoration: none;
  color: white;
}