
.header_title {
    font-family: 'Elsie', cursive;
    font-size: 70px;
    text-align: center;
    margin-top: 15px;
    position: relative;
    color: white;
    text-shadow: 6px 6px 6px #000;
}

.header{
    background-image: url('../../images/travelsuitcase.jpg');
    background-position: center center;
    background-size: cover; 
    height:80vh;
    z-index: -1;
}

